<div class="col s12 m6 offset-m3">
  <h5>Edit form</h5>
  <div class="">
    <label for="icon_prefix">Company name</label>
    <input ng-model="currentItem.companyName"
    id="icon_prefix" type="text" class="company validate"/>
  </div>
  <div ng-repeat="companyGood in currentItem.companyGoods track by $index">
    <label>Company goods: {{$index+1}}</label>
    <input id="icon_prefix" type="text" class="validate edit" ng-model="currentItem.companyGoods[$index]" />
    <a ng-click="deleteItem($index)" class="btn-floating btn-small waves-effect indigo lighten-1"><i class="material-icons">delete</i></a>
  </div>
    <span>Add good</span><a ng-click="addItem()" class="add btn-floating btn-small waves-effect indigo lighten-1"><i class="material-icons">add</i></a>
    <div class="">
      <a ng-click="saveEdit(currentItem)" class="waves-effect indigo lighten-1 btn">Save</a>
      <a ng-click="cancelEdit()" class="waves-effect indigo lighten-1 btn">Cancel</a>
    </div>
</div>
